<!--{% extends 'main/base.html'%}-->
<!--{% load static %}-->

<!--{% block content%}-->
<!--<div class="container overflow-hidden">-->
<!--  <div class="row gy-5">-->

<!--    {% if schedule.team %}-->
<!--    <div>-->
<!--      <p>{{schedule.team}}</p>-->
<!--      <p>{{schedule.date_training}}</p>-->
<!--      <p>{{schedule.start_training}}</p>-->
<!--      <p>{{schedule.finish_training}}</p>-->
<!--      <p>{{schedule.location}}</p>-->
<!--      <p>{{schedule.tutor_name}}</p>-->
<!--    </div>-->
<!--    {% endif %}-->

<!--  </div>-->
<!--</div>-->
<!--{%  endblock %}-->